.our-team {
  position: relative;
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: teal;
  text-align: center;
  overflow: hidden;
  width: 320px;
  height: 330px;
  margin: 15px;
  flex: 0 0 320px;
  box-shadow: 1px 5px 5px rgba(158, 158, 158, 0.753);
  border: none;
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 10px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #111;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #111;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 16px;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.767);
}

.team-content .name {
  color: white;
  font-size: 25px;
  margin-bottom: 12px;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #111;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team:hover {
  transform: translateY(-10px);
  transition: all 0.3s linear;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 25px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: white;
  background-color: #222;
}

@media screen and (max-width: 850px) {
  .our-team {
    min-width: 350px;
  }
}
